.advantages {
    background: #F6F6F6;
    padding: 73px 0 83px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 277px;
        text-align: center;
        img {
            margin: 0 auto;
            width: 70px;
            height: 70px;
        }
    }
    &__subtitle {
        margin: 0 auto;
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        color: $black_color;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: $black_color;
        a {
            color: $main_color;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animatedHeart {
            animation: heartBeat;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        &_animatedShoe {
            animation: swing;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
        }
        &_animatedCup {
            animation: tada;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }

}
