.consultation {
    padding: 100px 0;
    background: url('../img/bg2.png') center (center/cover) no-repeat;
    text-transform: uppercase;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        color: $white_color;
    }
    .error {
        border: 1px solid $main_color;
        text-align: center;
    }
    label.error {
        color: $white_color;
        border: none;
        padding-bottom: 15px;
    }
}